/*Buttons*/

.button,
a .button,
input .button,
button,
a button {
  background-color: transparent;
  color: $blue--light;
  border: 2px solid $blue--light;
  border-radius: 100px;
  text-decoration: none;
  transition: all 200ms ease-in;
  padding: 20px 30px;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue--light;
    color: white;
    text-decoration: none;
  }

  &.dark {
    color: $white;
    background-color: $blue--dark;

    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: $blue--dark;
    }
  }
}

.button-link {
  text-decoration: none;
}

.text-link {
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 0.5rem !important;
  transition: all 200ms ease-in;

  &:hover,
  &:active,
  &:focus {
    text-decoration-thickness: 3px;
  }

  &.white {
    text-decoration: underline;
    color: $blue--light;

    &:hover,
    &:active,
    &:focus {
      color: lighten($blue--light, 20%);
    }
  }
}
