@use "variables";

/*Buttons*/
@use 'sass:color';

.button,
a .button,
input .button,
button,
a button {
  background-color: transparent;
  color: variables.$blue--light;
  border: 2px solid variables.$blue--light;
  border-radius: 100px;
  text-decoration: none;
  transition: all 200ms ease-in;
  padding: 20px 30px;

  &:hover,
  &:active,
  &:focus {
    background-color: variables.$blue--light;
    color: white;
    text-decoration: none;
  }

  &.dark {
    color: variables.$white;
    background-color: variables.$blue--dark;

    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: variables.$blue--dark;
    }
  }
}

.button-link {
  text-decoration: none;
}

.text-link {
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 0.5rem !important;
  transition: all 200ms ease-in;

  &:hover,
  &:active,
  &:focus {
    text-decoration-thickness: 3px;
  }

  &.white {
    text-decoration: underline;
    color: variables.$blue--light;

    &:hover,
    &:active,
    &:focus {
      color: color.adjust(variables.$blue--light, $lightness: 20%);
    }
  }
}
