@use "../framework/variables";

.journal-feed {
  margin-bottom: 90px;

  .journal-feed-item {
    transition: variables.$base-transition;
    height: 710px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 20px solid transparent;

    &.journal--orange {
      border-color: variables.$orange;
      background-color: variables.$orange;
    }

    &.journal--blue__light {
      border-color: variables.$blue--light;
      background-color: variables.$blue--light;
    }

    &.journal--pink {
      border-color: variables.$pink;
      background-color: variables.$pink;
    }

    &.journal--turq {
      border-color: variables.$turq;
      background-color: variables.$turq;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0px 4px 26px 4px rgba(0, 0, 0, 0.3);
    }

    img {
      display: none;
    }

    .journal-feed-content {
      a {
        display: block;
        margin-top: 25px;
      }
    }
  }

  .journal-hero {
    background-color: variables.$blue--base;
    min-height: 266px;

    .journal-main-heading {
      padding-left: variables.$padding-base-by-2;
      padding-right: variables.$padding-base-by-2;
      font-size: 1.75em;
      word-wrap: break-word;
      margin-bottom: 0px;
    }
  }

  .journal-feed-content {
    padding-left: variables.$padding-base-by-2;
    padding-right: variables.$padding-base-by-2;
    font-size: 16px;
    color: variables.$white;

    button {
      width: 100%;
      margin-bottom: variables.$margin-base;
    }
  }

  .journal-information {
    padding: variables.$padding-base-by-2;

    .list-blog-date {
      font-size: 0.875em;
    }
  }
}

@media (max-width: 951px) {
  .journal-feed {
    .journal-feed-item {
      height: 100%;
    }
  }
}
