.hero--full {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #141640 0%, rgba(20, 22, 64, 0) 100%);
  position: relative;

  .svg--callout {
    position: absolute;
    z-index: -1;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10vw;
  }

  .callout {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    font-family: $sans-serif-medium;
    margin: 0px;
  }

  .content--container {
    max-width: 1000px;
  }

  h1 {
    margin-bottom: 4rem;
    color: $turq;
  }

  @media (max-width: $breakpoint--tablet) {
    min-height: 700px;
  }
}

.ctas {
  .button {
    margin-right: 30px;
  }
}

.skills--block {
  background: linear-gradient(180deg, #141640 0%, rgba(20, 22, 64, 0) 111.92%);
}

.bio--flex {
    display: flex;

    img {
        max-width: 200px;
        align-self: center;
        margin-right: 2rem;
    }

    @media (max-width: $breakpoint--tablet) {
    flex-wrap: wrap;
  }
}

.blog--list {
  a {
    &:hover {
      text-decoration: none;
      h5 {
        opacity: 0.65;
      }

      p {
        opacity: 0.5;
      }
    }
  }
  h5 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0px;
    font-family: $sans-serif-medium;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5rem;
    transition: all 200ms ease-in;
  }

  p {
    color: white;
    margin-top: 1.2rem;
    font-size: 1rem;
    opacity: 0.65;
    transition: all 200ms ease-in;
  }
}

.fun--callouts__mobile {
@media (max-width: $breakpoint--tablet) {
    padding-top: 8rem;
  }
}

.fun--callouts {
    background: $blue--darker;
    margin-bottom: 3rem;
    padding: 2rem;

    h4 {
        color: white;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .content--div {
        max-width: 50%;
    }

    .coffee {
        position: relative;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        > p{
            position: absolute;
            font-size: 2.8rem;
            font-family: $sans-serif-base;
            color: $turq;
            line-height: 0px;
            top: 30px;
            left: 22px;
        }
    }

    &.fun--callouts__music {
        background-image: url('/music-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    > div {
        display: flex;
    }

    img {
        margin-left: auto;
    }

    .list {
        columns: 2;
        margin-bottom: 0px;

        img {
            max-width: 20px;
            margin-right: 1rem;
        }
    }
}
