// ---- Work Gallery ----

.work-gallery {
  margin-bottom: 90px;
}

.col--width__four,
.col--width__eight,
.col--width__twelve,
.col--width__six {
  a {
    text-decoration: none;
  }
}

.col--width__four {
  .work-image-box {
    .work-meta {
      .work-meta--content {
        width: 30px;

        &-title,
        &-teaser {
          display: none;
        }
      }
    }
  }
}

.work-image-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  display: block;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: all 500ms ease;
  margin-bottom: $padding-base-by-2;
  border-radius: 30px;
  position: relative;
  border: 20px solid transparent;
  box-shadow: 0 5px 7px 0 #0a0b20;

  &.work-image-box__homepage {
    min-height: 200px;

    .work-meta {
      height: 200px;

      .work-meta--content {
        display: flex;
        align-items: center;

        &-title {
          font-family: $sans-serif-semi-bold;
          font-size: $h3 - 0.35;
        }
      }
    }
  }

  &:hover {
    box-shadow: none;

    .work-meta {
      .work-meta--content {
        width: 20px;
        overflow: hidden;

        &-title,
        &-teaser {
          opacity: 0;
        }

        &-arrow {
          opacity: 1;
        }
      }
    }
  }

  &.work--orange {
    border-color: $orange;

    .work-meta {
      .work-meta--content {
        background-color: $orange;
      }
    }
  }

  &.work--blue__light {
    border-color: $blue--light;

    .work-meta {
      .work-meta--content {
        background-color: $blue--light;
      }
    }
  }

  &.work--pink {
    border-color: $pink;

    .work-meta {
      .work-meta--content {
        background-color: $pink;
      }
    }
  }

  &.work--turq {
    border-color: $turq;

    .work-meta {
      .work-meta--content {
        background-color: $turq;
      }
    }
  }

  .work-meta {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 360px;

    .work-meta--content {
      height: 100%;
      width: 50%;
      padding: 0 3%;
      overflow: hidden;
      transition: all 200ms ease-in-out;

      &-title,
      &-teaser,
      &-arrow {
        color: $white;
        transition: all 1ms ease;
      }

      &-title {
        font-family: $sans-serif-semi-bold;
        font-size: $h3;
        line-height: 1.1em;
        margin: 0;
      }

      &-arrow {
        opacity: 0;
        position: absolute;
        top: 45%;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

@media (max-width: 951px) {
  .col--width__four {
    .work-image-box {
      .work-meta {
        .work-meta--content {
          width: auto;

          &-title,
          &-teaser {
            display: block;
          }
        }
      }
    }
  }

  .work-image-box {
    height: 100%;
    min-height: 600px;

    &.work-image-box__homepage {
      min-height: 600px;

      .work-meta {
        height: 100px;

        .work-meta--content {
          &-title {
            font-size: $h3 - 0.75;
          }
        }
      }
    }

    &:hover {
      .work-meta {
        .work-meta--content {
          width: 100%;

          &-title,
          &-teaser {
            opacity: 1;
          }

          &-arrow {
            opacity: 1;
          }
        }
      }
    }

    .work-meta {
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;

      .work-meta--content {
        height: 100%;
        width: 100%;

        &-title {
          font-size: $h3 - 0.75;
        }

        &-teaser {
          font-size: 15px;
        }

        &-arrow {
          opacity: 1;
          right: 0;
          top: 1%;
        }
      }
    }
  }
}
