@use '../framework/variables';

// ---- Work Gallery ----

.work-gallery {
  margin-bottom: 90px;

  .page-hero {
    max-width: 600px;
    h1 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 5rem;
      font-size: 1.25rem;
      opacity: 0.8;
    }
  }
}

.col--width__four,
.col--width__eight,
.col--width__twelve,
.col--width__six {
  a {
    text-decoration: none;
  }
}

.work-image-box {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  transition: all 500ms ease;
  margin-bottom: variables.$padding-base-by-2;
  border-radius: 30px;
  position: relative;
  object-fit: cover;
}

.work-meta--content-title,
.work-meta--content-teaser {
  color: white;
}

.work-meta--content > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.work-meta--content-arrow {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  color: white;
}

.work-meta--content-teaser {
  opacity: 0.8;
  margin-bottom: 4rem;
  margin-top: 0;
}
